// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #454AEF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #17B890;
$gray: #0E0000;
$light-gray: #E4E6F4;
$white: #FFFFFF;
$black: #000000;
