// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #FF914D;
$yellow: #FFC65A;
$orange: #E67E22;
$green:#FF914D;
$gray: #393e46;
$light-gray: #f4F4F4;
$white: #FFFFFF;
$black: #000000;


