

.head1{
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  .content{
      height: 60vh;
      margin-top:15vh;
        @media (min-width: 750px) {
      width: 100vw;
      height: 45vh;

  }
  }
  @media (min-width: 750px) {
  flex-direction: row;
  height: 60vh;
  text-align: left;
  }
  h2{
  font-size: $size6;
  @media (min-width: 750px) {
  font-size: $size8;
  }
  }
  h3{
  font-size: $size5;
  @media (min-width: 750px) {
  font-size: $size5;
  }
  }

  .texthead1{
    margin-top: 13vh;
    width: 66vw;
      @media (min-width: 700px) {

    width: 60vw;
  }
}
  @media (min-width: 700px) {
    .form{
    width: 30vw;
  }
  }

}
.form-container{
  width: 100vw;
  position: absolute;
  z-index: 2;
      margin-top: -8vh;

        @media (min-width: 750px) {
    width: 30vw;
    margin-left: 66vw;
    margin-top: -10vh;

  }

}


  .register-box{
      width: 66vw;
      margin: auto;
      margin: auto!important;
      @media (min-width: 750px) {
    width: 30vw;
  }
    .form{
      padding: 1rem;
      border-top: solid 5px #F1F1F1;
      background-color: #F8F8F9;
      min-height: 75vh;
      p{
        font-size:$size4;
        padding: 1rem;
      }
      h6{
                padding: 1rem;

      }
            @media (min-width: 750px) {
  }
    }
    input{
  background-color: white;
  border: none!important;
  font-size: 0.84rem!important;

}
.form-actions{
  margin:auto!important;
}
button{
  margin:auto!important;
}
}

.fancy-underline {
  background-image: linear-gradient(120deg, $white 0%, $green 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 91%;
}

.boardContent{

}

.usp-item{
  text-align: center;
  margin: 3rem;
  .img-usp{
  width: 75px;
}
h3{
  font-size: $size6;
  color: $blue;
  padding:$size2;
}
p{
  font-size: $size5;
}
}

.usp{
margin: auto;
width: 75px;
height: 75px;
border-radius: 50px;
text-align: center;

}

.usp:hover{
    color: $blue;
  font-size: 3rem;
  transform: scale(1.1);
  transition: all 0.6s ease 0s;
}

.board{
  padding: 1rem;
  width: 95vw;
  min-height: 100vh;
  margin:auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: $white;
  margin-top: -25vh;
    @media (min-width: 750px) {
   margin-top: -25vh;

  }
}
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-text {
  height: calc(80vh);
  padding: 1rem;
  width: 66%;
  margin: auto;

  display: flex;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: $white;
  justify-content:space-around;
  align-items:center;
  flex-direction: column;
}


.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 66%;
  margin: auto;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .pricing {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .pricing {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 750px) {
  .pricing {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pricing {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .pricing {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.pricing-item{
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border: 1px solid $light-gray;
padding: $size9;
justify-content:center;
align-items:center;
display:flex;
flex-direction: column;
margin-bottom: 30px;
h3 {
  font-size: $size7;
  color: $blue;
  text-align:center;
  padding-bottom: 2rem;
}
  .price{
  padding-bottom: 2rem;
font-size: 1.25rem;
  }
  .desc{
  padding-bottom: 2rem;
margin: auto;
  }
}

.pricing-item:hover{
  transform: scale(1.1);
  transition: all 0.6s ease 0s;

}

.title-section{
  justify-content:center;
align-items:center;
display: flex;
margin: auto;
  width: 100vw;
  margin-top: $size9;
    margin-bottom: $size9;

}

.contact{
  width: 66%;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2rem;
  margin: auto;
  margin-bottom: 30px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 95%;
  margin-top: 23vh;
      @media (min-width: 750px) {
  margin-top: 5vh;

  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

  .hidemobile{
    display: none;
    @media (min-width: 750px) {
      display: inline;

  }
.card-category {

  min-height: 180px;


  }

}

.dropdown-menu{
padding: $size5;
}


