<br/><br/><br/><div class="padding"><br/></div>
<div class="container-box">
  <div class="sheet-box">
<%= render 'form', invoice: @invoice %>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>
</div>
</div>
