<div class="footer">
  <div class="footer-links">
     <%= link_to root_path, class: "navbar-brand" do %>
      <h1><%= image_tag "favicon.gif", class: "logo-footer" %></h1>


    <% end %>
  </div>
  <div>
    <p>+33 (0)2 38 722 722<br/>contact@mon-prospect.fr<br/>26 rue Lamblardie, 75012 Paris</p>
  </div>
</div>
