<div class="footer">
  <div class="footer-links">
     <%= link_to root_path, class: "navbar-brand" do %>
      <h1><%= image_tag "logo.png", height: "40px" %>rospect</h1>


    <% end %>
  </div>
  <div>
    <p>+33 (0)2 38 722 722<br/>contact@mon-prospect.fr<br/>24 place du Martroi, 45000 Orléans</p>
  </div>
</div>
