<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
      <h1>mon prospect</h1>
    <% end %>
  <div class="menu">
    <div class="menu-item">
<% if user_signed_in? %>
 <%= link_to  destroy_user_session_path, method: :delete do %>
  Déconnexion
   <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      Connexion
    <% end %>
  <% end %>
  </div>
    <%= link_to new_lead_path, class: "btn-navbar" do %>
      Obtenez un devis
    <% end %>


  </div>



</div>
