<br/><br/><br/><br/>

<div class="container">

  <div class="pricing-item">
            <h3><i class="fas fa-rocket"></i></i><br/>Rocket </h3>
    <div class="desc">
<%= @lead.quantity %> Rendez-vous exclusifs en région <%= @lead.region %>

    </div>
    <div class="price">
      <p><%= @price %> € HT</p>
    </div>


    <%= link_to new_user_registration_path, class: "btn-cta" do %>
      Acheter
    <% end %>
  </div>
</div>

