
<div class="banner" style="background-image: url(<%= asset_path 'banner.png' %>);">
  <div class="banner-text">
    <h1>Trouver des leads <strong class="fancy-underline">Loi Pinel</strong> n'a jamais été aussi simple !</h1>
    </div>
  <div class="board">

<%= @price %> euros
</div>
</div>
