.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  color: $white;
  height: 10vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .menu {
    display: flex;
    justify-content:center;
    align-items:center;
    .menu-item a {
      color: $white;
      text-decoration: none;
      padding-right: 10px;
    }
    .menu-item a:hover {
      text-shadow: 0px 0px 1px $blue;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h1 {
  color: $white;
  letter-spacing: 0.1;
  margin: 0;
  font-size: 2.441rem;
}
