<br/><br/><div class="padding"><br/></div>
<div class="container-box">
  <div class="action-cta">
    <div class="btn-cta">Acheter des rendez-vous
  </div>
</div>
<div class="sheet-box">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Recherche
  </div>
</form>
<table class="table">
  <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Horaire</th>
        <th>Télephone</th>
        <th>Email</th>
        <th>Salaire</th>
        <th>Taux endettement</th>
        <th>Impôt annuel</th>
        <th>Région</th>
        <th>Status</th>
    </tr>
  </thead>
</table>
<div class="body-sheet">
  <p>Vous n'avez pas encore de rendez-vous</p>
  <%= image_tag "empty.jpg" %>

</div>
</div>
<div class="padding"></div>


</div>



